[submodule "third_party/userver"]
	path = third_party/userver
	url = git@github.com:userver-framework/userver.git
[submodule "third_party/in_image_hider"]
	path = third_party/in_image_hider
	url = git@github.com:nothingIIersonal/in_image_hider.git
